<div class="switcher_list"/>

<table border=0 class="switcher_table">
<tr>
<td><font color="green"><i class="fas fa-compact-disc" aria-hidden="true"></i></font></td>
<td><span class="switcher_category switcher_item_active" id="song_category"><a href="#" onclick="load_song()">Song</a></span></td>
</tr>
<tr>
<td><font color="green"><i class="fas fa-mountain" aria-hidden="true"></i></font></td>
<td><span class="switcher_category" id="scene_category"><a href="#" onclick="load_scenes(); close_workspace();">Scenes</a></span></td>
</tr>
<tr>
<td><font color="green"><i class="fas fa-wave-square" aria-hidden="true"></i></font></td>
<td><span class="switcher_category" id="track_category"><a href="#" onclick="load_tracks(); close_workspace();">Tracks</a></span></td>
</tr>
<tr><td>&nbsp;</td><td></td></tr>
<tr>
<td><font color="blue"><i class="fas fa-plug" aria-hidden="true"></i></font></td>
<td><span class="switcher_category" id="device_category"><a href="#" onclick="load_devices(); close_workspace();">Devices</a></span></span><td>
</tr>
<tr>
<td><font color="blue"><i class="fas fa-digital-tachograph" aria-hidden="true"></i></font></td>
<td><span class="switcher_category" id="instrument_category"><a href="#" onclick="load_instruments(); close_workspace();">Instruments</a></span></td>
</tr>
<tr>
<td><font color="blue"><i class="fas fa-music" aria-hidden="true"></A></i></font></td>
<td><span class="switcher_category" id="scale_category"><a href="#" onclick="load_scales(); close_workspace();">Scales</a></span></td>
</tr>
<tr><td>&nbsp;</td><td></td></tr>
<tr>
<td><font color="purple"><i class="fas fa-stroopwafel" aria-hidden="true"></i></font></td>
<td><span class="switcher_category" id="pattern_category"><a href="#" onclick="load_patterns(); close_workspace();">Patterns</a></span></td>
</tr>
<tr>
<td><font color="purple"><i class="fas fa-frog" aria-hidden="true"></i></font></td>
<td><span class="switcher_category" id="transform_category"><a href="#" onclick="load_transforms(); close_workspace();">Transforms</a></span></td>
</tr>
<tr>
<td><font color="purple"><i class="fas fa-database" aria-hidden="true"></i></font></td>
<td><span class="switcher_category" id="data_pool_category"><a href="#" onclick="load_data_pools(); close_workspace();">Data&nbsp;Pools</a></span></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan=2><font color="#999999"><i>WARP {{ version }}</i></A>
</br><a href="warpseq.com"><font color="#999999">http://warpseq.com</A>
</br><font size='-1' color='#999999'>Michael DeHaan, 2020</font></td>
</tr>
</table>
</div>

