<h1>Scenes</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>About</h2>

<p>
In most DAWs, scenes are simply lists of {{ doc('api_clips','Clips') }} that are meant to be triggered together. In Warp, scenes
can have additional properties.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Creating A Scene") }}

<p>
A basic scene:
</p>

{{ begin_code(language='python') }}
api.scenes.add(name='intro', rate=0.5, auto_advance=True)
api.scenes.add(name='verse1', auto_advance=True)
api.scenes.add(name='chorus', auto_advance=True)
api.scenes.add(name='versus2', auto_advance=True)
api.scenes.add(name='finale', rate=0.5, auto_advance=True)
{{ end_code() }}

<p>
A scene has the following properties:
</p>

<table border=1 cellpadding="10px">
<tr>
  <td>Property</td>
  <td>Type</td>
  <td>Description</td>
</tr>
<tr>
   <td>name</td>
   <td>string</td>
   <td>A symbolic name for the scene, as referenced from a {{ doc('api_clips','Clip') }}</td>
</tr>
<tr>
  <td>rate</td>
  <td>integer</td>
  <td>If set, multiples the current tempo for all clips in the scene. 0.5 effectively turns 1/16th notes into 1/8th notes. 0.25 implies quarter notes.</td>
</tr>
<tr>
  <td>auto_advance</td>
  <td>bool</td>
  <td>if True, when any {{ doc('api_clips','Clips') }} that are marked <i>auto_scene_advance</i> finish, the scene will stop playing and the next scene in the list will play automatically.</td>
</tr>
<tr>
  <td>scale</td>
  <td>str</td>
  <td>if set, overrides the {{ doc('api_scales','Scale') }} of the {{ doc('api_song','Song') }}, unless further overriden by the {{ doc('api_clips','Clip') }}.</td>
</tr>
</table>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

About ready to hit play. Scenes need {{ doc('api_clips','Clips') }} added to them first, so let's check those out.

