<h1>Data Pools</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>About</h2>

<p>
Data pools are almost exactly like {{ doc('api_patterns','Patterns') }} that don't contain notes.  Instead, they contain values that can
be accessed exclusively from the {{ doc('api_evaluators', 'DataGrab') }} <i>Evaluator</i>. If nothing reads from them, they just sit there,
but if patterns or transforms ask for data, they serve it up on request.
</p>

<p>
Data pools can be shared among any track that wishes to draw from them, and they do move in terms of set
directions, just like patterns.
</p>

{{ begin_info_block() }}
This concept is best illustrated by <A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/09_data_pools.py">This API Example</A>,
so open this in a new tab as you read along.
{{ end_info_block() }}

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Creating A Data Pool") }}

<p>
A basic data pool looks a lot like a {{ doc('api_patterns','Pattern') }}, but instead of Slots, it contains DataSlots.  It also takes a lot less
arguments than <i>Pattern</i>
</p>

{{ begin_code(language='python') }}
api.data_pools.add(name='sourceData', direction='random', slots=[
    DataSlot(value=1),
    DataSlot(value=2),
    DataSlot(value=3),
    DataSlot(value=4),
    DataSlot(value=5),
    DataSlot(value=6),
    DataSlot(value=7)
])
{{ end_code() }}

slots:list=None, direction=None, length=None):
<p>
A scene has the following properties:
</p>

<table border=1 cellpadding="10px">
<tr>
  <td>Property</td>
  <td>Type</td>
  <td>Description</td>
</tr>
<tr>
   <td>name</td>
   <td>string</td>
   <td>A symbolic name for the data pool, as referenced from {{ doc('api_evaluators','DataGrab') }}</td>
</tr>
<tr>
  <td>direction</td>
  <td>string</td>
  <td>A direction, just as described in {{ doc('api_patterns','Patterns') }}</td>
</tr>
</table>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ section("Suggestions & Tips") }}

<ul>
<li>Use a data pool with a random direction, such as <i>serialized</i> instead of a <i>RandomChoice</i> or <i>RandomRange</i></li>
<li>Use a data pool to interleave a melodic sequence or motif across multiple different scenes</li>
</ul>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("In Context") }}

Reading the following API examples is recommended for understanding this section:

<ul>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/09_data_pools.py">just this one</A>
</ul>


<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

You're already down the rabbit hole pretty far. Feel free to review other chapters or the <A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/">other API demos</A>.
If you're done with that, it's time to kick out the jams.
