<h1>Club</h1>
<hr/>

<p>
Many great resources for musicians and developers are available by joining the <A HREF="https://www.patreon.com/mpdehaan?fan_landing=true">Warp Club on Patreon</A>.
</p>

<p>
Warp club members have access to extra blog posts, feature polls, warp song files (for every song Michael makes with Warp), our discord channel (community text chat!), and extra video livestreams and scheduled Zoom chats.
This is the inside track to all things Warp and a great way to meet and interact with other users. You may also get some random synth/eurorack-related posts.
<p>

<p>
Warp is a 100% free open source project and joining Warp Club is of course completely optional. You also do not need to join to {{ doc('contributing','contribute') }} and can also follow <A HREF="http://twitter.com/warpseq">@warpseq</A> on twitter
for release news.
</p>


